<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>あなたの家のペット登録</title>
	<style>
		.error {
			color: red;
			font-size: 0.9em;
		}
	</style>
</head>
<body>
	<h1>あなたの家のペット登録</h1>
<!--	<form action="/animalconfirm" method="post" th:object="${animalForm}">  設問2 -->
<!--		<label>ペットの名前</label>-->
<!--		<input type="text" name="animalName" th:field="*{animalName}" /><br>-->

<!--		 設問3 -->
<!--		<label>ペットの種類</label>-->
<!--		    <input type="text" name="animalKind" th:field="*{animalKind}" /><br>-->

<!--	    <label>ペットの年齢</label>-->
<!--	    <input type="number" name="animalAge" th:field="*{animalAge}" /><br>-->

<!--		<label>飼い始めた日付</label>-->
<!--		<input type="text" name="animalYear" th:field="*{animalYear}" />/-->
<!--		<input type="text" name="animalMonth" th:field="*{animalMonth}" />/-->
<!--		<input type="text" name="animalDay" th:field="*{animalDay}" /><br>-->
	
	<form th:action="@{/animalconfirm}" th:object="${animalForm}" method="post">
        <!-- ペットの名前 -->
        <div>
            <label for="animalName">ペットの名前:</label>
            <input type="text" id="animalName" th:field="*{animalName}">
			<div th:if="${#fields.hasErrors('animalName')}" class="error">
				<span th:text="${#fields.errors('animalName')}"></span>
			</div>
		</div>

        <!-- ペットの種類 -->
        <div>
			<label for="type">ペットの種類</label>
			<input type="text" id="animalKind" th:field="*{animalKind}">
			<div th:if="${#fields.hasErrors('animalKind')}" class="error">
				<span th:text="${#fields.errors('animalKind')}"></span>
			</div>
        </div>

        <!-- ペットの年齢 -->
        <div>
			<label for="animalAge">ペットの年齢</label>
			<input type="number" id="animalAge" th:field="*{animalAge}">
			<div th:if="${#fields.hasErrors('animalAge')}" class="error">
				<span th:text="${#fields.errors('animalAge')}"></span>
			</div>
        </div>

        <!-- 飼い始めた日付 -->
        <div>
			<label>飼い始めた日付</label>
			<input type="number" th:field="*{animalYear}" placeholder="年">
			<input type="number" th:field="*{animalMonth}" placeholder="月">
			<input type="number" th:field="*{animalDay}" placeholder="日">
			<div th:if="${#fields.hasErrors('animalYear')}" class="error">
				<span th:text="${#fields.errors('animalYear')}"></span>
			</div>
			<div th:if="${!(#fields.hasErrors('animalYear')) && #fields.hasErrors('animalMonth')}" class="error">
				<span th:text="${#fields.errors('animalMonth')}"></span>
			</div>
			<div th:if="${!(#fields.hasErrors('animalYear')) && !(#fields.hasErrors('animalMonth')) && #fields.hasErrors('animalDay')}" class="error">
				<span th:text="${#fields.errors('animalDay')}"></span>
	        </div>
        </div>
		<button type="submit">確認</button>
	</form>
</body>
</html>